{% extends 'base.html' %}

{% block content %}

<h1 class="display-4">{% block title %} Send a New Message {% endblock %}</h1>
    <br>
<form method="post">
    <div class="form-group">
        <label for="To">To</label>
        <input type="text" name="To"
               placeholder="To" class="form-control"
               value="{{ request.form['To'] }}"></input>
    </div>

    <div class="form-group">
        <label for="Message">Message</label>
        <textarea name="Message" placeholder="Message content"
                  class="form-control">{{ request.form['Message'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">File input</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Voice File input</label>
      <input class="form-control" type="file" id="form" multiple>
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Video File input</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>

</form>
{% endblock %}