<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data form Device</title>
</head>
<body>
<form action=" ">
    Patient ID:
    <input type = "text" name = "patient_id">
    <br>
    Temperature:
    <input type = "text" name = "temperature">
    <br>
    Pulse:
    <input type = "text" name = "pulse">
    <br>
    Blood Pressure:
    <input type = "text" name = "blood pressure">
    <br>
    Oxygen Level:
    <input type = "text" name = "oxygen level">
    <br>
    Weight:
    <input type = "text" name = "weight">
    <br>
    Glucose Level:
    <input type = "text" name = "glucose level">
    <br>
    <input type = "submit" name = "submit">
    <br></form>

</body>
</html>