<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello from Flask</title>
</head>
<body>
<!--    {% if name %}-->
<!--      <h1>Hello {{ name }}!</h1>-->
<!--    {% else %}-->
<!--      <h1>Hello, World!</h1>-->
<!--    {% endif %}-->
<form action=" ">
    Username:
    <input type = "text" name = "name">
    <br>
    Passward:
    <input type = "password" name = "password">
    <br>
    <input type = "submit" name = "submit">
    <br>
    {{request.form['username']}}
</form>

</body>
</html>