{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">{% block title %} Appointments {% endblock %}</h1>
    <br>
    {% for apt in appointments %}

            <div class="row">
              <div class="col">
                  <h3 >Doctor: {{ apt['doctor_name'] }}</h3>
              </div>
                <div class="col">
                  <h3>Patient: {{ apt['patient_name'] }}</h3>
                </div>
            </div>
            <div class="row">
              <div class="col">
                  <h5 class="text-black-50">Appointment Data: {{ apt['appointment_date'] }}</h5>
              </div>
                <div class="col">
                  <h5  class="text-black-50">From {{ apt['start'] }}   To   {{ apt['finish'] }}</h5>
                </div>
            </div>
            <h5 class="text-black-50">Symptom： {{ apt['symptom'] }}</h5>
            <hr>

    {% endfor %}
{% endblock %}

