{% extends 'base.html' %}

{% block content %}

<h1 class="display-4">{% block title %} Send a New Message {% endblock %}</h1>
<form action = "{{url_for('home.send_chat', name=name)}}" method="post">
    <div class="form-group">
        <label for="To">To</label>
        <input id = "To" type="text" name="To"
               placeholder="Recipient" class="form-control"
               value="{{ request.form['To'] }}"></input>
    </div>

    <div class="form-group">
        <label for="Message">Message</label>
        <textarea id="Message" name="Message" rows="4" placeholder="Message content"
                  class="form-control">{{ request.form['Message'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">File input</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Voice File input</label>
      <input class="form-control" type="file" id="form" multiple>
    </div>
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Video File input</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
</form>

<h1 class="display-4">Chat History</h1>

<form action = "{{url_for('home.chat_history', name=name)}}" method="post">
    <div class="row">
        <div class="col">
        <input id = appoint type="text" class="form-control" placeholder="Appointment with" name = doctor aria-label="First name">
        <br>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>
{% endblock %}